<h1 mat-dialog-title>PRODUCTO</h1>
<div mat-dialog-content>
    <p></p>
    <p>What's your favorite animal?</p>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <input matInput [(ngModel)]="data.producto.descripcion">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <input matInput [(ngModel)]="data.producto.categoria.descripcion">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Precio</mat-label>
        <input matInput [(ngModel)]="data.producto.precio">
    </mat-form-field> -->
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>No Thanks</button>
    <button mat-button mat-dialog-close>Ok</button>
</div>