/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f3f3f3; }

side-left {
    width: 300px;
    height: 100%;
    border: 1px solid #c7c7c7;
    display: block;
    position: relative;
    float: left;
    margin: 10px 5px 0 0;
    padding: 10px;
    background: #fff;
}